.btn-index{
    padding: 3%;
    margin-top: 3%;
    margin-right: 75%;
}

.hero-form, .squad-form{
    padding: 15%;
}

#background{
    background-image: url(https://images.unsplash.com/photo-1531907700752-62799b2a3e84?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-repeat: no-repeat;
    background-size: cover;

}

#cards{
    margin-right: 1%;
    margin-left: 6%;
    height: 430px;
    width: 400px;
}