{{#partial "content"}}
    <div class="container">
        <div class="row">
            <br><br><br><br>
            <div>
                <h1 class="text-center" >WELCOME TO THE HERO-SQUAD APPLICATION</h1>
                <h5 class="text-centre" style="color: #fff">Would you like to create a hero or squad?</h5>
            </div>
            <br>
            <div class="btn-index">
                <form action="/hero" >
                    <br> <br>
                    <button
                            type="submit"
                            class="btn btn-outline-primary "
                    >
                        Add Hero
                    </button>
                    <br> <br> <br>
                </form>
                <form action="/squad" >
                    <button
                            type="submit"
                            class="btn btn-outline-danger"
                    >
                        Add Squad
                    </button>
                </form>

            </div>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}





















